flask
gradio
uvicorn
fastapi
dnspython
dropbox
sentence-transformers
faiss-cpu
torch
torchvision
torchaudio
google-generativeai
openai
together
python-dotenv
bcrypt
pyotp
requests
beautifulsoup4
aiohttp
httpx
pypdf2
langdetect
flask_mail
qrcode
itsdangerous
pymongo
uvicorn[standard]
a2wsgi