# --- Web Framework and Server ---
Flask
gunicorn
Flask-Cors

# --- Authentication and Email ---
Flask-Mail
bcrypt
pyotp
itsdangerous
qrcode

# --- Database Drivers ---
pymongo
dnspython

# --- Utilities ---
python-dotenv
requests
beautifulsoup4
pypdf2
langdetect
aiohttp
httpx
a2wsgi